body{
    background-image: url("images/background.jpg");
}
.aboutme{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    opacity: .6;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px;
    border: 15px solid transparent;
    padding: 2px;
    border-image-source: url("images/navborder3.jfif");
    border-image-repeat: stretch;
    border-image-slice: 50;
}

.name{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.goto{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.gt{

    color: rgb(26, 23, 23);
    border: 7px solid transparent;
    border-image-source: url("images/navborder4.png");
    border-image-repeat: stretch;
    border-image-slice: 20;
    background-color: aliceblue;
    opacity: .6;
}

.mainpic{
    width: 100%;
    height: 100%;
}
.mainpicsz{
    display: flex;
    justify-content: center;
    max-width: 75%;
    min-width: 50%;
    max-height: 25%;    
    min-height: 50%;
    margin-right: 200px;
    margin-left: 200px;
    padding: 20px;
}

.contact{
    display: flex;
    height: 100px;    
    justify-content: center;
    margin-top: 20px;
    background-color: aliceblue;
    opacity: .6;
    padding: 20px;
    border: 15px solid transparent;
    padding: 2px;
    border-image-source: url("images/navborder3.jfif");
    border-image-repeat: stretch;
    border-image-slice: 50;
}

.sectionhead{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 50px;
    padding: 20px;
    text-decoration-line: underline;
    
}

.socialpics{
    display: flex;
    justify-content: center;
    
}

.github{
    padding: 20px;
}

.linkedin{
    padding: 20px;
}

.flex-skills{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.skillslist{
    margin-right: 50px;
}
.semantic{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 50px;
}
.skilluse{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 30px;
    
}
.signature{
    display: flex;
    justify-content: center;
    object-fit: contain;

}
.semanpics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
