body{
    background-image: url("images/background.jpg");
}
.aboutme{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    opacity: .6;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px;
    border: 15px solid transparent;
    padding: 2px;
    border-image-source: url("images/navborder3.jfif");
    border-image-repeat: stretch;
    border-image-slice: 50;
}

.name{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 200%;

}

.goto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    list-style: none;
    flex-wrap: wrap;
}

.gt{

    color: rgb(26, 23, 23);
    border: 7px solid transparent;
    border-image-source: url("images/navborder4.png");
    border-image-repeat: stretch;
    border-image-slice: 20;
    background-color: aliceblue;
    opacity: .6;
}

.mainimg{
    display: flex;
    justify-content: center;

}

.mainpicsz{
    max-width: 75%;
    min-width: 50%;
    max-height: 25%;
    min-height: 50%;
    padding: 20px;
}

.contactheader{
    display: flex;
    margin-bottom: 1px;
}
.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: aliceblue;
    opacity: .6;
    border: 15px solid transparent;
    border-image-source: url("images/navborder3.jfif");
    border-image-repeat: stretch;
    border-image-slice: 50;
}

.sectionhead{
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    align-items: stretch;
    color: aliceblue;
    font-size: 300%;
    font-stretch: condensed;
    padding: 20px;
    text-decoration-line: underline;
}

.socialpics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.github{
    padding: 20px;
}

.linkedin{
    padding: 20px;
}

.flex-skills{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.skillslist{
    margin-right: 50px;
}
.semantic{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 50px;
}
.skilluse{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 30px;

}
.signature{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}


.semanpics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
